@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto mono";
  src: url("../../../../shared/assets/fonts/Roboto/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
  font-size: normal;
}
@font-face {
  font-family: "Roboto mono";
  src: url("../../../../shared/assets/fonts/Roboto/Roboto/Roboto-Light.ttf");
  font-weight: 300;
  font-size: normal;
}

@font-face {
  font-family: "Roboto mono";
  src: url("../../../../shared/assets/fonts/Roboto/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-size: normal;
}

@font-face {
  font-family: "Roboto mono";
  src: url("../../../../shared/assets/fonts/Roboto/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
  font-size: normal;
}

@font-face {
  font-family: "Roboto mono";
  src: url("../../../../shared/assets/fonts/Roboto/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
  font-size: normal;
}

@font-face {
  font-family: "Roboto mono";
  src: url("../../../../shared/assets/fonts/Roboto/Roboto/Roboto-Black.ttf");
  font-weight: 900;
  font-size: normal;
}
