@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Roboto mono, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.right-0 { right: 0 }
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flex-1 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}
.flex-2 {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 0%;
}
.flex-3 {
  flex-grow: 3;
  flex-shrink: 3;
  flex-basis: 0%;
}

.ol-map {
  min-width: 600px;
  min-height: 600px;
  width: 100%;
  flex: 1;
  box-sizing: border-box;
  min-width: 0; min-height: 0;
}
.ol-control {
  position: absolute;
  background-color: rgba(255,255,255,0.4);
  border-radius: 4px;
  padding: 2px;
}
.ol-full-screen {
  top: .5em;
  right: .5em;
}

.ol-popup {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  transform: translateX(-50%);
  z-index: 1;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 50%;
  margin-left: -11px;
}


@font-face {
  font-family: "Roboto mono";
  src: url("../../../../shared/assets/fonts/Roboto/Roboto_Mono/static/RobotoMono-Thin.ttf");
  font-weight: 100;
  font-size: normal;
}
@font-face {
  font-family: "Roboto mono";
  src: url("../../../../shared/assets/fonts/Roboto/Roboto_Mono/static/RobotoMono-Light.ttf");
  font-weight: 300;
  font-size: normal;
}

@font-face {
  font-family: "Roboto mono";
  src: url("../../../../shared/assets/fonts/Roboto/Roboto_Mono/static/RobotoMono-Regular.ttf");
  font-weight: 400;
  font-size: normal;
}

@font-face {
  font-family: "Roboto mono";
  src: url("../../../../shared/assets/fonts/Roboto/Roboto_Mono/static/RobotoMono-Medium.ttf");
  font-weight: 500;
  font-size: normal;
}

@font-face {
  font-family: "Roboto mono";
  src: url("../../../../shared/assets/fonts/Roboto/Roboto_Mono/static/RobotoMono-Bold.ttf");
  font-weight: 700;
  font-size: normal;
}


/*  */
@font-face {
  font-family: "Roboto";
  src: url("../../../../shared/assets/fonts/Roboto/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
  font-size: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../../shared/assets/fonts/Roboto/Roboto/Roboto-Light.ttf");
  font-weight: 300;
  font-size: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../../../shared/assets/fonts/Roboto/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-size: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../../../shared/assets/fonts/Roboto/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
  font-size: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../../../shared/assets/fonts/Roboto/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
  font-size: normal;
}
/*  */


@layer components {
  .spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    width: 50px;
    height: 50px;
  }
  .path {
    stroke: white;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}